@model IEnumerable<ICourses.Data.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<!--передача представлений-->
<div class="container p-3">
    <h1>@ViewBag.NameCourse</h1>

    <div class="container p-3">
        <h6>@ViewBag.Description</h6>
    </div>
</div>


<div class="my-3 p-3 alert-info rounded shadow-sm">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="row no-gutters border rounded bg-white  flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">@Html.DisplayFor(modelItem => item.Name)</h3>
                        
                        <div class="mb-1 text-muted">@Html.DisplayFor(modelItem => item.Modified)</div>
                        <div class="mb-1 text-muted">Язык:  @Html.DisplayFor(modelItem => item.Language)</div>

                        <div style="height: 80px" class="container">
                            <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>

                        <!--переход на курс-->
                        <p>
                            <a class="btn btn-secondary" asp-area="" asp-controller="Modules" asp-action="Index" asp-route-id="@item.Id" role="button">Начать изучение &raquo;</a>
                        </p>

                        <!--редактирование и удаление-->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" role="button" asp-action="Edit" asp-route-id="@item.Id">
                                    Редактировать
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    <a asp-action="Create">Добавить новый курс</a>
</p>