@model ICourses.Entities.Module
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Details";
}

<div class="container m-1 my-3 p-3">
    <div class="container">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-4 col-lg-4 d-md-block sidebar collapse  no-gutters border rounded overflow-hidden shadow-sm position-relative">
                <div class="sidebar-sticky">
                    @if (@Model.TextMaterials != null)
                    {
                        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>@localizer["TextMat"]:</span>
                        </h5>

                        @foreach (var item in Model.TextMaterials)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#@item.Id">
                                        <span data-feather="home"></span>
                                        @item.Name<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    }

                    @if (@Model.Videos != null)
                    {
                        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>@localizer["Videos"]:</span>

                        </h5>

                        @foreach (var item in Model.Videos)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#@item.Id">
                                        <span data-feather="home"></span>
                                        @item.Name<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    }

                </div>
            </nav>

            <main role="main" class="col-md-7 ml-sm-auto col-lg-8 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="featurette">

                        <div class="row featurette">
                            <div class="col-md-5">
                                <div class="text-center m-3">
                                    <h1 class="featurette-heading text-white">@Model.Name</h1>
                                </div>
                                <h6 class="text-muted">@Model.Modified</h6>

                                <p class="lead text-white">@localizer["ModuleDescription"]: @Model.Description</p>

                                @if (User.IsInRole("admin") || User.IsInRole("moderator") || (User.IsInRole("teacher")))
                                {

                                    <p>
                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">@localizer["Editbtn"]</a>
                                        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                @localizer["Deletebtn"]
                                            </button>
                                        </form>
                                    </p>
                                }
                            </div>
                            <div class="col-md-5">
                                <img style='width:250px; height:250px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Image))" />
                            </div>
                        </div>
                        <hr />

                        <div class="col-md-8">
                            @if (@Model.TextMaterials != null)
                            {
                                @foreach (var item in Model.TextMaterials)
                                {
                                    <div class="blog-post">
                                        <h2 class="blog-post-title text-white"><a name="@item.Id">@item.Name</a></h2>
                                        <p class="blog-post-meta mb-1 text-muted">@item.Modified</p>
                                        <p class="text-white">@item.Context</p>

                                        @if (User.IsInRole("admin") || User.IsInRole("moderator") || (User.IsInRole("teacher")))
                                        {

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" role="button" asp-controller="TextMaterials" asp-action="Edit" asp-route-id="@item.Id">
                                                        @localizer["Editbtn"]
                                                    </a>

                                                    <form asp-controller="TextMaterials" asp-action="Delete" asp-route-id="@item.Id" method="post">

                                                        <button type="submit" class="btn btn-sm btn-danger">
                                                            @localizer["Deletebtn"]
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                }
                            }
                        </div>


                        <div class="container m-3">
                            @if (User.IsInRole("admin") || (User.IsInRole("teacher")))
                            {
                                <p><a class="button-active revealator-slideup revealator-delay3" asp-area="" asp-controller="TextMaterials" asp-action="Create" asp-route-id="@Model.Id">
                                      @localizer["NewText"] </a></p>
                            }
                        </div>
                        <hr />

                        <div class="col-md-8">
                            @if (@Model.Videos != null)
                            {
                                @foreach (var v in ViewBag.Videos)
                                {
                                    <div class="blog-post">
                                        <h2 class="blog-post-title text-white"><a name="@v.Id">@v.Name</a></h2>

                                        @*<div height="240" width="320" controls>
                                                <video width="320" height="240" controls>
                                                    <source src=@v.Url type="video/mp4" />
                                                </video>
                                            </div>*@

                                        <video width="640" height="480" controls>
                                            <source src=@v.Url type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>

                                        @if (User.IsInRole("admin") || User.IsInRole("moderator") || (User.IsInRole("teacher")))
                                        {

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" role="button" asp-controller="Videos" asp-action="Edit" asp-route-id="@v.Id">
                                                        @localizer["Editbtn"]
                                                    </a>

                                                    <form asp-controller="Videos" asp-action="Delete" asp-route-id="@v.Id" method="post">

                                                        <button type="submit" class="btn btn-sm btn-danger">
                                                            @localizer["Deletebtn"]
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                }
                            }
                        </div>

                        <div class="container m-3">
                            @if (User.IsInRole("admin") || (User.IsInRole("teacher")))
                            {

                                <p>
                                    <a class="button-active revealator-slideup revealator-delay3" asp-controller="Videos" asp-action="Create" asp-route-id="@Model.Id">
                                        @localizer["NewVideo"]
                                    </a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


