@model IEnumerable<ICourses.Entities.Subject>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Списки Предметов";
}


<section class="third">
    <div class="container">
        <div class="team">
            <div class="why-text text-white text-md-center">

                <h3 class="text-success">@localizer["list"]</h3>

            </div>
            <div class="team-content">
                <div class="team-cards">
                    @foreach (var m in Model)
                    {
                        <div class="team-card revealator-slideleft revealator-delay1">
                            <div class="team-card-text">

                                <h2 class="text-lg-center">@Html.DisplayFor(modelItem => m.Name)</h2>
                                <div class="team-card-links">
                                    <p>@Html.DisplayFor(modelItem => m.Description)</p>
                                </div>
                                <div class="team-card-links">
                                    <a class="button-active revealator-slideup revealator-delay3 nav" asp-controller="Subjects" asp-action="Details" asp-route-id="@m.Id">
                                        @localizer["DetailCourse"]
                                    </a>
                                </div>

                            </div>
                        </div>

                    }
                </div>
            </div>


            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <p>
                    <a class="button-active revealator-slideup revealator-delay3 nav" asp-action="Create">
                        @localizer["CreateNew"]
                    </a>
                </p>
            }
        </div>
</section>





<!--

 <a asp-action="Edit" asp-route-id="">Edit</a> |
 <a asp-area="" asp-controller="Courses" asp-action="Index" asp-route-id="">Details</a> |
 <a asp-action="Delete" asp-route-id="item.Id">Delete</a>|
                  -->
