@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h2 class="text-white">@localizer["listRole"]</h2>

<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td class="text-white">@role.Name</td>
            @if ((User.IsInRole("admin")) || (User.IsInRole("moderator")))
            {
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            @localizer["Delete"]
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>

@if (User.IsInRole("admin"))
{
<a asp-action="Create">@localizer["AddRole"]</a>
}

<a asp-action="UserList">@localizer["listUser"]</a>